[Unit]
Description=ECMC Portal
After=network-online.target
Wants=network-online.target

[Service]
# modify when deploy in prod env
User=xiaoju
Group=xiaoju

Type=simple
# ExecStart=/home/n9e/n9e-portal
ExecStart=/home/xiaoju/gopath/src/github.com/didi/nightingale/n9e-portal
WorkingDirectory=/home/xiaoju/gopath/src/github.com/didi/nightingale

Restart=on-failure
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target